.gh {
    width: fit-content;
    height: fit-content;
    position: fixed;
    bottom: 1%;
    left: 1%;
    transform: scale(1);
    animation: pulse 2s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(0.90);
    }
    70% {
        transform: scale(1);
    }
    100% {
        transform: scale(0.90);
    }
}